@import url('https://fonts.cdnfonts.com/css/punchliner');
@import url('https://fonts.cdnfonts.com/css/specialisation');
@import url('https://fonts.cdnfonts.com/css/iqos');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@700&family=Pacifico&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sans-font {
  font-family: 'Punchliner', sans-serif;
}

.fun-font {
  font-family: 'Specialisation', sans-serif;
}

.regular-font {
  font-family: 'IQOS', sans-serif;
}

.bold-font {
  font-family: 'Bebas Neue', sans-serif;
}

.cursive-font {
  font-family: 'Caveat', cursive;
}

.watchlist-heading {
  padding: 25px;
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem
}
